<!-- src/app/employee-details/employee-details.component.html -->
<div class="container mt-4" *ngIf="!showEditWidget">
  <h2>Employee Details</h2>
  <div *ngIf="employee">
    <p><strong>ID:</strong> {{ employee.id }}</p>
    <p><strong>Name:</strong> {{ employee.name }}</p>
    <p><strong>Email:</strong> {{ employee.email}}</p>
    <p><strong>Position:</strong> {{ employee.position }}</p>
    <p><strong>Salary:</strong> {{ employee.salary }}</p>
  </div>
  <button class="btn btn-warning me-2" (click)="editEmployee(employee.id)">
    Edit
  </button>
  <button class="btn btn-danger" (click)="deleteEmployee(employee.id)">
    Delete
  </button>
</div>
<div class="container mt-4" *ngIf="showEditWidget">
<app-employee-edit [employee]="employee" (updateShowEditWidget)="handleShowEditWidgetChange($event)" />
</div>
